.withicon {
  position: relative;
}

.l-icon-center-left {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.l-icon-center-right {
  @extend .l-icon-center-left;
  right: 15px;
  left: unset;
}

.isActive {
  transition: color 0.24s ease-out;
}
