.menu-item  {
    font-size: 15px;
    margin: 0 10px;
    padding: 10px;

}
.menu-item > a{
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 3px solid yellowgreen;
    transition: all 0.12s ease-in-out;
}