@import "./../../styles/theme/theme.scss";

%btn-shared {
  border-radius: $btn-border-radius;
  border: 1px solid $btn-green-bg;
  background-color: $btn-green-bg;
  color: $white-color;
}

.btn {
  height: $btn-base-height;
  border-width: 2px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  @extend %btn-shared;
}

.btn-primary:hover {
  @extend %btn-shared;
  background-color: darken($btn-green-bg, 5%);
}

.btn-primary.disabled {
  @extend %btn-shared;
  background-color: lighten($btn-green-bg, 10%);
}

.btn-outlined {
  width: 100%;
  @extend %btn-shared;
  color: $btn-green-color;
  background-color: $white-color;
}
