.article {
  margin-bottom: 100px;
  min-height: 100%;
  &__img-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__img {
    max-width: 500px;
    max-height: 500px;
  }
}
