.article {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;

  &__img-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__img {
    max-height: 400px;
  }

  &__description {
    margin: 0 auto;
    max-width: 700px;
  }
}
