.dashboard-header {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  i {
    color: #8ca0b3;
  }
  .row {
    height: 100%;
    padding: 0 30px;
    margin: 0;
  }
  .search-bar {
    margin-right: 36px;
  }
}
