@import "./../../styles/theme/theme.scss";

.dashboard {
  min-width: 1024px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  & > .row {
    margin-right: 0;
    margin-left: 0;
  }
  &__content {
    height: 100%;
    padding-bottom: 22px;
    padding-top: 22px;
    overflow: auto;
  }
}

.isClosed + .dashboard-header {
  margin-left: 100px;
  width: calc(100% - 340px);
  height: 100vh;
}
.isClosed + .right-col {
  padding-left: 100px;
}

.right-col {
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-right: 0;
  padding-top: 80px;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .right-col {
    padding-left: 350px;
  }
}
