.dashboard {
  min-width: 1024px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  & > .row {
    margin-right: 0;
    margin-left: 0;
  }
  &__content {
    padding-bottom: 30px;
  }
}

.isClosed + .dashboard-header {
  margin-left: 100px;
  width: calc(100% - 340px);
  height: 100vh;
}
.isClosed + .right-col {
  padding-left: 100px;
}

.right-col {
  background-color: #f0f0f0;
  padding-left: 100px;
  padding-right: 0;
  padding-top: 112px;
  position: relative;
  width: 100%;
}

@media (min-width: 1280px) {
  .right-col {
    padding-left: 350px;
  }
}
