.dashboard {
  & > .row {
    margin-right: 0;
    margin-left: 0;
  }
  max-width: 1920px;
  margin: 0 auto;
}

.isClosed + .dashboard-header {
  margin-left: 100px;
  width: calc(100% - 340px);
}
.isClosed + .right-col {
  padding-left: 100px;
}
.right-col {
  background-color: #f0f0f0;
  padding: 0;
  padding-top: 80px;
  padding-left: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
}
