.dashboard {
  max-width: 1500px;
  & > .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.isClosed + .dashboard-header {
  margin-left: 100px;
  width: calc(100% - 340px);
}

.right-col {
  background-color: #f0f0f0;
  padding: 0;
  min-height: 100%;
}
