.sidebar {
  padding: 0;
  height: 100vh;
  max-width: 350px;

  .container {
    padding: 0;
    margin: 0;
  }
  .sidebar-header {
    padding: 0 26px 0 36px;
    height: 80px;
    background-color: #29b1cc;
    color: white;
    left: 0;
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 20px;
    }
  }

  .card-header {
    padding: 0 0;
    background-color: #fff;
  }
}

.sidebar.col-3.isClosed {
  flex: 0 0 100px;
}
.sidebar.isClosed {
  .sidebar-header {
    &__title {
      display: none;
    }
  }
}
