@import "../../../../styles/theme/theme.scss";

.overview-card {
  min-height: 208px;
  color: $white-color;
  border: none;
  &_orange {
    background-image: linear-gradient(to left, #f9d423, #f83600);
  }

  &_blue {
    background-image: linear-gradient(to bottom, #40bcf9, #1e87f0);
  }

  &_green {
    background-image: linear-gradient(to top, #009efd, #2af598);
  }

  &__header {
    height: 46px;
    padding: 0 0 0 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white-color;
    margin-bottom: 39px;
    &-link {
      display: flex;
      padding: 0 23px;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: inherit;
      border-left: 1px solid $white-color;
      height: 100%;
    }
  }
  &__body {
    padding: 0 39px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__number {
    font-size: 36px;
    letter-spacing: 0.51px;
  }
}

// @media (max-width: $break-point-lg) {
//   .overview__overview-card {
//     margin-bottom: 20px;
//   }
// }
