@import "./../../../../styles//theme/theme.scss";
.z-index-3 {
  z-index: 3;
}

.main-header {
  .btn {
    width: 100px;
  }
  .navbar {
    padding: 0;
  }
  .logo {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: lighter;
  }

  &__links {
    color: black;
    justify-content: flex-end;
  }
  &__profile-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
  }
  &__profile-link.isActive {
    text-decoration: underline;
    color: darken($color: #fff, $amount: 10%);
  }
  &__burger {
    z-index: 3;
  }
}

.main-header ~ .show {
  background-color: #fff;
}

.main-header.fixed {
  transition: all 0.24s ease-in-out;
  background-color: white;
  color: black;
  .btn-outline-light {
    color: black;
    border-color: black;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  .main-header__profile-link {
    color: black;
  }
  .logo {
    color: black;
  }
}

.logo img {
  width: 44px;
  height: 47px;
  margin-right: 15px;
}

@media (max-width: $break-point-lg) {
  .main-header {
    .navbar-collapse {
      background: white;
      overflow-y: auto;
      position: fixed;
      padding-top: 60px;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 1;
      transition: all 0.2s ease-in;
    }
    &__profile-link {
      font-size: 20px;
      margin-right: 0px;
      margin-bottom: 30px;
      opacity: 0;
      border-bottom: 1px solid transparent;
      transition: opacity 0.23s ease-in-out;
    }
    &__profile-link.isActive {
      text-decoration: underline;
      color: darken($color: #fff, $amount: 10%);
    }

    .show {
      .main-header__links {
        min-height: 100%;
        padding: 20px 0;
        justify-content: center;
        .main-header__profile-link {
          color: black;
          border-bottom: 1px solid black;
          opacity: 1;
          text-decoration: none;
          &:hover {
            color: black;
          }
        }
        .login-btn {
          margin-top: auto;
        }
        .btn-outline-light {
          color: black;
          border-color: black;
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: $break-point-sm) {
  .main-header {
    .logo {
      font-size: 18px;

      img {
        width: 35px;
        height: 35px;
      }
    }
    &__burger {
      &:focus {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        outline-color: transparent;
      }
    }
  }
}
