.main-header {
  .btn {
    width: 100px;
  }
  .logo {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: lighter;
  }
  &__profile-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
  }
  &__profile-link.isActive {
    text-decoration: underline;
    color: darken($color: #fff, $amount: 20%);
  }
}

.main-header.fixed {
  transition: all 0.24s ease-in-out;
  background-color: white;
  color: black;
  .btn-outline-light {
    color: black;
    border-color: black;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &__links {
    color: black;
  }

  .main-header__profile-link {
    color: black;
  }
  .logo {
    color: black;
  }
}

.logo img {
  width: 44px;
  height: 47px;
  margin-right: 15px;
}
