@import "./theme/theme.scss";

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
em,
strong,
span,
button,
a,
button {
  font-family: $base-font;
}

h1,
.h1 {
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

h2,
.h2 {
  @extend .h1;
  font-size: 36px;
}
h3,
.h3 {
  @extend .h1;
  font-size: 30px;
}

h4,
.h4 {
  @extend .h1;
  font-size: 26px;
}

h5,
.h5 {
  @extend .h1;
  font-size: 22px;
}

h6,
.h6 {
  @extend .h1;
  font-size: 20px;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
