@import "./../../styles/theme/theme.scss";

.h1 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

.container {
  box-sizing: border-box;
}

.wrapper {
  max-width: $base-content-width;
  width: 100%;
  margin: 0 auto;
}

.pt-50 {
  padding-top: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.promo,
.media-section {
  .btn {
    width: 165px;
  }
}
.news,
.projects,
.start-guide,
.forums {
  .btn {
    width: 200px;
  }
}

.promo {
  background: url("/images/pic.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 850px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;

  color: #363c44;
  .promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    strong {
      font-weight: bold;
    }
    .promo-title {
      font-size: 44px;
      margin-bottom: 10px;
      font-weight: 300;
    }
    .container {
      &:first-child {
        margin-top: 205px;
      }
    }
  }

  .promo-sub-title {
    margin-bottom: 115px;
    font-size: 24px;
    font-weight: 300;
  }
  .promo-text {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}

@media (max-width: $break-point-sm) {
  .promo {
    .promo-content {
      .promo-title {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 300;
      }
      .promo-sub-title {
        font-size: 20px;
      }
    }
  }
}
.header.fixed .header-menu {
  top: 80px;
}

.media-section {
  padding: 116px 20px;
  background-color: #9855d4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto;

  .w-50 {
    display: block;
  }
  .media-title {
    margin-bottom: 19px;
  }
  .media-video {
    max-width: 460px;
    width: 100%;
    height: 271px;
    position: relative;
  }

  .video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
  }

  .media-text {
    text-align: right;
    max-width: 539px;
    min-width: 450px;
    box-sizing: border-box;
    line-height: 1.13;
    font-weight: 300;
    color: white;
    margin-right: 104px;
    &-title {
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 19px;
    }
    p {
      margin-bottom: 25px;
    }
  }
}
@media (max-width: 1160px) {
  .media-section {
    .wrapper {
      flex-wrap: wrap;
      padding-left: 40px;
      padding-right: 40px;
    }
    .media-text {
      margin-right: 0;
      width: 100%;
      min-width: 100%;
      margin-bottom: 40px;
    }
    .media-video {
      max-width: none;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: $break-point-sm) {
  .media-section {
    min-width: 100%;
    padding: 30px 20px 30px 20px;
    justify-content: center;
    .wrapper {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }
    .media-text {
      width: 100%;
      text-align: left;
    }
    .media-video {
      width: 100%;
      max-width: none;
    }
  }
}

.statistics {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 116px 20px 109px 20px;
  .statistics-list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center;
  }
  .statistics-list-item {
    margin-right: 90px;
    &:last-child {
      margin-right: 0;
    }
  }
  .number {
    text-align: left;
    font-size: 48px;
    font-weight: bold;
  }
  .description {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
  }
}

@media (max-width: $break-point-md) {
  .statistics {
    .statistics-list {
      flex-direction: column;
    }
    .statistics-list-item {
      margin-right: 0px;
    }
  }
}

@media (max-width: $break-point-sm) {
  .statistics {
    .statistics-list {
      align-content: start;
    }
    .statistics-list-item {
      margin-right: 0px;
    }
  }
}

.community {
  padding-bottom: 143px;
  .community-title {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
  }
  .card {
    font-family: "IBM Plex Sans", sans-serif;
  }
}

.projects {
  background-color: #363c44;
  padding: 50px 20px 60px 20px;
  .projects-title {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    color: white;
  }

  .projects-menu {
    font-size: 18px;
    font-weight: lighter;
    margin: 0 auto;
    white-space: nowrap;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    color: white;
    margin-bottom: 40px;
    .menu-item {
      font-size: 15px;
      margin-right: 55px;
      padding-bottom: 8px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 3px solid #ffcf27;
        transition: all 0.12s ease-in-out;
      }
    }
  }
  .projects-menu::-webkit-scrollbar {
    display: none;
  }
  .container {
    max-width: 1180px;
  }
  .projects-grid {
    .row {
      margin-left: -37px;
      margin-right: -37px;
      margin-bottom: 10px;
    }
    .col-xl-4 {
      padding-left: 37px;
      padding-right: 37px;
      margin: 0;
      margin-bottom: 60px;
    }

    &:nth-child(3) {
      padding-right: 0;
    }
    .project {
      min-height: 300px;
      height: 100%;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 14px;
      background-color: #ffcf27;
      padding: 29px 17px 20px 26px;
      .project-technology {
        margin-bottom: 10px;
      }
      .project-title {
        font-size: 22px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      .project-developers {
        margin-bottom: 24px;
      }
      .project-description {
        margin-bottom: 20px;
      }
      .project-read-more {
        color: black;
        margin-top: auto;
      }
    }
  }
}

// @media (max-width: $break-point-xl) {
//   .projects {
//     .projects-grid {
//       margin: 40px 0px;
//     }
//   }
// }

// @media (max-width: $break-point-md) {
//   .projects {
//     .projects-grid {
//       .project {
//         width: 100%;
//         font-size: 18px;
//       }
//     }
//   }
// }

// @media (max-width: 500px) {
//   .projects {
//     .projects-menu {
//       justify-content: normal;
//     }
//   }
// }

.forums {
  padding-left: 40px;
  padding-right: 40px;
  .table {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #303a4e;
    text-align: left;
    border: 1px solid #f2f2f2;
    margin-bottom: 100px;
    .table-row {
      border-bottom: 1px solid #f2f2f2;
      border-top: none;
    }

    .table-head {
      background-color: #fbfbfb;
      border: 1px solid #f2f2f2;
      .table-head-cell {
        border: none;
      }
    }
  }
}
@media only screen and (max-width: $break-point-sm) {
  .forums {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
}

@media only screen and (max-width: $break-point-md) {
  .table,
  .table-head,
  .table-body,
  .table-head-cell,
  .table-cell,
  .table-row {
    display: block;
  }
  .table {
    .table-head {
      background-color: #fbfbfb;
    }
    border: none;
    .table-head .table-row {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .table-row {
      border-bottom: 2px solid #f2f2f2;
    }

    .table-cell {
      border: none;
      border-bottom: none;
      position: relative;
      padding-left: 5%;
      margin-left: 150px;
    }

    .table-cell:before {
      position: absolute;
      top: 12px;
      left: 6px;
      width: 100%;
      font-weight: bold;
      padding-right: 40px;
      white-space: nowrap;
      margin-left: -150px;
    }

    .table-cell:nth-of-type(1):before {
      content: "Topics";
    }

    .table-cell:nth-of-type(2):before {
      content: "Category";
    }

    .table-cell:nth-of-type(3):before {
      content: "Author";
    }

    .table-cell:nth-of-type(4):before {
      content: "Replies";
    }

    .table-cell:nth-of-type(5):before {
      content: "Views";
    }

    .table-cell:nth-of-type(6):before {
      content: "Last Post";
    }
  }
}

@media only screen and (max-width: $break-point-sm) {
  .table {
    .table-cell:before {
      display: none;
    }
    .table-cell {
      border: none;
      border-bottom: none;
      position: relative;
      padding-left: 5%;
      margin-left: 0;
    }
  }
}

.news {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  color: white;
  background-color: #00b29e;
  font-family: "IBM Plex Sans", sans-serif;
  .btn {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .btn {
    &:last-child {
      margin-right: 0;
    }
  }
  .news-title {
    text-align: center;
  }

  .news-article {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 40px;

    small {
      font-size: 14px;
    }
    .news-article-img {
      max-width: 300px;
      height: auto;
      margin-right: 20px;
    }
    .news-article-tag {
      display: inline-block;
      background-color: #fff;
      color: #00b29e;
      padding: 8px 15px;
    }
    .news-article-title {
      font-size: 24px;
      margin: 11px 0 5px 0;
    }
    .news-article-description {
      margin-top: 15px;
      .news-article-subscription {
        margin-bottom: 9px;
        display: block;
      }
    }

    .news-article-creator,
    .news-article-date {
      font-weight: bold;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: $break-point-xl) {
  .news {
    .news-title {
      text-align: left;
    }
    .news-article {
      flex-wrap: wrap;
      &:last-child {
        margin-bottom: 100px;
      }
      .news-article-img {
        width: 70%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 20px;
      }
      .news-article-description {
        margin-top: 0px;
      }
    }
  }
}
@media only screen and (max-width: $break-point-md) {
  .news {
    .news-article {
      flex-wrap: wrap;
      .news-article-img {
        width: 100%;
        max-width: none;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: $break-point-sm) {
  .news {
    .button-group {
      flex-direction: column;
    }
    .btn {
      margin-right: 0;
    }
    padding: 40px 15px 40px 15px;
    .news-title {
      font-size: 32px;
    }

    .news-article {
      .news-article-img {
        width: 100%;
        max-width: none;
        margin-right: 0;
      }
      .news-article-title {
        font-size: 19px;
      }
    }
  }
}

.start-guide {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 55px 20px 55px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);

  .start-guide-text {
    margin-bottom: 40px;
  }
  .btn {
    width: 200px;
  }
}

.footer {
  padding: 40px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  .footer-info {
    font-size: 14px;

    &:last-child {
      margin-right: 0;
    }
    .menu-item {
      margin-right: 20px;
      .link.isActive {
        color: black;
        text-decoration: underline;
      }
      & > a {
        color: #6f7076;
        text-decoration: none;
      }
    }
  }
  .footer-social {
    .menu-item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      .link.isActive {
        color: black;
        text-decoration: none;
      }
      & > a {
        color: #509afb;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: $break-point-sm) {
  .footer {
    .wrapper {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .footer-info {
      margin-bottom: 20px;
    }
    .footer-info,
    .footer-social {
      flex-direction: column;
      .menu-item {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}
