.page-content {
  margin: 0 auto;
  min-height: 100%;
}

.form-wrapper {
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  background: url("sea.jpg") no-repeat;
  background-position: center left;
  background-size: contain;
}

@media (min-width: 1200px) {
  .img {
    height: 100vh;
    width: 100vw;
    background-position: left center;
    background-size: cover;
  }
}

@media (max-width: 952px) {
  .img {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
  }
  .form-wrapper {
    margin-left: 0;
  }
}

.right-side .btn-border  {
  margin-bottom: 20px ;
  width: 100%;
}

.btn-border   {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #007bff;
}

.btn-border > i {
  margin: 0 10px;
}
