@import "./../../../styles/theme/theme.scss";

.sidebar {
  padding: 0;
  padding-top: 80px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: $white-color;

  .accordion {
    height: 100%;
    overflow-y: auto;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}

.sidebar-header {
  padding: 0 26px 0 36px;
  height: 80px;
  background-color: #29b1cc;
  color: $white-color;
  z-index: 3;

  &__content {
    width: 100%;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  &__icon {
    cursor: pointer;
  }
}

.dashboard-left {
  flex: 0 1 350px;
  width: 350px;
  min-width: 350px;
}

.dashboard-left.isClosed {
  flex: 0 0 100px;
  width: 100px;
  min-width: 100px;

  .sidebar-header__title {
    display: none;
  }
}
