@import "./../../../../../styles/theme/theme.scss";

.user-activity {
  border: none;

  .card-header {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: $white-color;
  }

  &__title {
    margin-bottom: 0;
    color: $black-pearl-color;
    font-size: 20px;
  }

  &__body {
    .btn {
      width: 100%;
      height: 66px;
      background-color: #29b1cc;
      color: $white-color;
    }
  }

  &__menu {
    cursor: pointer;
    padding: 5px;
  }

  &__menu-body {
    position: relative;
    cursor: pointer;
    width: 4px;
    height: 4px;
    background-color: #8ca0b3;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: #8ca0b3;
      content: "";
    }

    &::before {
      top: -5px;
    }

    &::after {
      bottom: -5px;
    }
  }
  .card-body {
    padding: 0;
  }
}
