@import "./../../styles/theme/theme.scss";

.dashboard-news {
  &__card {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
  }
  .card {
    height: 100%;
    min-height: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-link {
    margin-top: auto;
  }
  .card-title {
    font-size: 18px;
    min-height: 46px;
  }
}
