.header {
    min-width: 300px;
    border-bottom: 3px dashed black;
    padding: 30px;
    background-color: #eee;
    transition: all 0.24s ease-in-out;
}

.fixed {
    top:0;
    width: 100%;
    position: fixed;
    padding: 20px 30px;
    transition: all 0.24s ease-in-out;
}

.burger-icon {
    display:none;
}

.header-menu {
    display: flex;
    transition: all 0.24s ease-in-out;
}

@media screen and (max-width: 952px) {
    .header-menu {
        display: none;
    }


    .burger-icon {
        display: block;
        cursor: pointer;
    }

    .header-menu.open {
        display: flex;
        width: 100%;
        position: fixed;
        right: 0;
        top: 100px;
        flex-direction: column;
        background-color: #eee;
        transition: all 0.24s ease-in-out;
    }

    .header-menu.open .menu-item {
        padding: 10px 20px;
        width: 100%;
        margin: 0;
    }

    .header-menu.open .menu-item:hover {
        border: none;
        padding: 10px 15px;
        background-color: #ccc;
    }
}