@import "./../../styles/theme/theme.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 300px;
  padding: 30px;
  z-index: 1;
  transition: all 0.24s ease-in-out;
}

.fixed {
  top: 0;
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  transition: all 0.24s ease-in-out;
}

.burger-icon {
  display: none;
}

.header-menu {
  display: flex;
  transition: all 0.24s ease-in-out;
}

@media screen and (max-width: 952px) {
  .header-menu {
    display: none;
  }

  .burger-icon {
    display: block;
    cursor: pointer;
  }

  .header-menu.open {
    display: flex;
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: fixed;
    min-height: 100%;
    right: 0;
    top: 100px;
    flex-direction: column;
    background-color: #eee;
    transition: all 0.24s ease-in-out;
    z-index: -1;
  }

  .header-menu.open {
    .menu-item {
      padding: 10px 20px;
      width: 100%;
      margin: 0;
      z-index: -1;
    }
  }

  .header-menu.open :hover {
    .menu-item {
      &:hover {
        border: none;
        padding: 10px 15px;
        background-color: #ccc;
      }
    }
  }
}
