@import "./../../styles/theme/theme.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 300px;
  font-size: 14px;
  padding: 15px 69px;
  z-index: 1;
  transition: all 0.24s ease-in-out;
  color: white;
  .btn {
    width: 100px;
  }
  .logo {
    font-family: "IBM Plex Sans", sans-serif;
  }
  .profile {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: lighter;
  }
  .profile.isActive {
    text-decoration: underline;
    color: darken($color: #fff, $amount: 20%);
  }
}

.fixed {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: black;
  padding: 10px 69px;
  transition: all 0.24s ease-in-out;
}
@media screen and (max-width: $break-point-md) {
  .header {
    padding: 15px 15px;
  }
  .fixed {
    padding: 10px 10px;
  }
}
