@import "../../../../../styles/theme/theme.scss";
.chart {
  .VictoryContainer {
    height: auto !important;
    background-color: $white-color;
  }
}

@media (max-width: $break-point-lg) {
  .chart {
    margin-bottom: 20px;
  }
}
