@import "./styles//theme/theme.scss";
@import "./styles/content.scss";
html {
  min-height: 100%;
}

body {
  // overflow: hidden;
  height: 100%;
  margin: 0;
  #root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  min-width: 320px;
  width: 100%;
  min-height: 100%;
}
