//colors
$primary-color: #252529;
$secondary-color: #e1e4e8;
$white-color: #fff;
$btn-green-color: #29b1cc;
$white-smoke-color: #f0f0f0;
$black-pearl-color: #000a12;
$btn-green-bg: #29b1cc;
$input-outline-color: #dfe2e6;
$input-font-color: #e1e4e8;
$label-color: #252529;
$placeholder-text: $secondary-color;
$form-title-color: #252529;
$gordons-green: #323332;
$home-title-dark: #323332;
$home-title-light: #f5f5f5;
$main-home-color: #363c44;
$table-color: #303a4e;
$table-th-fw: #303a4e;
//fonts
$base-font: "IBM Plex Sans", sans-serif;
//sizes
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 992px;
$break-point-xl: 1200px;
$base-content-width: 1140px;
$btn-border-radius: 0px;
$btn-base-height: 50px;

.white-smoke-bg {
  background-color: $white-smoke-color;
}

.solitude-bg {
  background-color: #dfe2e6;
}
