//colors
$primary-color: #252529;
$secondary-color: #e1e4e8;
$white-color: #fff;
$btn-green-color: #29b1cc;
$btn-green-bg: #29b1cc;
$dashboard-content-light: #f0f0f0;
$dashboard-main-color: #000a12;

//sizes
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 992px;
$break-point-xl: 1200px;
$base-content-width: 1140px;
$btn-border-radius: 0px;
$btn-base-height: 50px;

//fonts
$base-font: "IBM Plex Sans";
