@import "./../../styles/theme/theme.scss";

.cerulean {
  color: #0db9dd;
}

.tan-hide {
  color: #faa05a;
}

.french-rose {
  color: #f0506e;
}

.sidebar-sub-item {
  padding: 10px 26px 10px 36px;
  font-size: 18px;
  text-decoration: none;
  color: $black-pearl-color;

  &__icon {
    margin-right: 33px;
  }

  &__active {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: none;
  }

  transition: all 0.24s ease-in;
}
.sidebar.isClosed {
  .collapse.show {
    ul {
      display: none;
    }
  }
}
