@import "./../../styles/theme/theme.scss";

.sidebar-sub-item {
  padding: 10px 26px 10px 36px;
  font-size: 18px;
  text-decoration: none;
  color: $black-pearl-color;

  &__icon {
    color: #0db9dd;
    margin-right: 33px;
  }

  &:hover {
    text-decoration: none;
  }

  transition: all 0.24s ease-in;
}
.sidebar.isClosed {
  .collapse.show {
    ul {
      display: none;
    }
  }
}
